<p
	data-height="{% if include.height %}{{ include.height }}{% else %}300{% endif %}"
	data-theme-id="15948"
	data-slug-hash="{{ include.slug }}"
	data-default-tab="result"
	data-user="mindrun"
	class="codepen"
>
	See the Pen <a href="http://codepen.io/mindrun/pen/{{ include.slug }}/">Flexbox</a> by Leonard
</p>