<ul class="social">

	<li>
		<a href="/feed.xml">
			{% include icons/feed.svg %}
		</a>
	</li>

	<li>
		<a href="//twitter.com/lmprht" target="_blank">
			{% include icons/twitter.svg %}
		</a>
	</li>

	<li>
		<a href="//github.com/leo/leo.github.io" target="_blank">
			{% include icons/github.svg %}
		</a>
	</li>

	<li>
		<a href="https://paypal.me/mindrun" target="_blank">
			{% include icons/paypal.svg %}
		</a>
	</li>

	<li>
		<a href="mailto:lamprechtleonard@gmail.com">
			{% include icons/mail.svg %}
		</a>
	</li>

</ul>