h2, h3, h4, h5 {
	margin: 45px 0 25px;
}

img {
	max-width: 100%;
}

time {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid #000;

	&.image {
		display: block;
		text-align: center;
		border: 0;
		border-radius: 5px;
		margin: 30px 0;
	}

}

mark {
	background: #FFFC76;
	padding: 0 5px;
}

blockquote {
	border-left: 5px solid #20FFB4;
	margin: 40px 0;
	padding-left: 30px;
}

span[data-note] {
	font-size: 0.8em;
	background: #c1c1c1;
	color: #fff;
	font-weight: 700;
	display: inline-block;
	padding: 0 12px;
	border-radius: 10px;
	vertical-align: middle;
	line-height: 18px;
	cursor: pointer;
	margin: 0 2px;
	transition: background 0.3s;
	-webkit-transition: background 0.3s;
	-webkit-user-select: none;

	&.open {
		background: #838383;
	}

	@media (min-width: 768px) {
		vertical-align: 1px;
	}

	@media (min-width: 992px) {

		&:hover {
			background: #838383;
		}

	}

}

.note {
	background: #fff;
	box-shadow: 0px 0px 8px rgba( 0, 0, 0, 0.2 );
	padding: 20px 20px 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	transition-property: transform;
	transition-duration: 0.6s;
	transition-timing-function: ease;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.6s;
	-webkit-transition-timing-function: ease;
	transform: translateY( calc( 100% + 8px ) );
	-webkit-transform: translateY( calc( 100% + 8px ) );
	font-size: 14px;
	line-height: 1.7em;
	width: 100%;
	box-sizing: border-box;

	&.shown {
		transform: translateY( 0 );
		-webkit-transform: translateY( 0 );
	}

	@media (min-width: 768px) {
		right: 40px;
		padding-bottom: 20px;
		max-width: 400px;
		left: auto;
		bottom: 40px;
		border-radius: 8px;
		transition-property: opacity, transform;
		-webkit-transition-property: opacity, -webkit-transform;
		transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;
		opacity: 0;
		transform: scale( 0.1 ) translateZ( 0 );
		-webkit-transform: scale( 0.1 ) translateZ( 0 );

		&.shown {
			transform: scale( 1 ) translateZ( 0 );
			-webkit-transform: scale( 1 ) translateZ( 0 );
			opacity: 1;
		}

	}

}

.logo {
	margin: 60px 0;
	text-align: left;

	a {
		background: #000;
		color: #fff;
		text-decoration: none;
		text-transform: lowercase;
		font-weight: 700;
		height: 75px;
		width: 75px;
		font-size: 1.5em;
		border-radius: 100%;
		display: inline-block;
		text-align: center;
		line-height: 80px;
	}

	@media (min-width: 992px) {
		position: fixed;
		top: 50px;
		right: 50px;
		margin: 0;
		animation-duration: 1s;
		animation-fill-mode: both;
		animation-name: bounce;
		-webkit-animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		-webkit-animation-name: bounce;

		a {
			transition: transform 0.4s;
			-webkit-transition: -webkit-transform 0.4s;
			border: 5px solid #fff;
			box-sizing: border-box;
			line-height: 75px;
			height: 85px;
			width: 85px;

			&:hover {
				transform: scale( 1.2 );
				-webkit-transform: scale( 1.2 );
			}

		}

	}

}

iframe {
	margin: 45px 0 !important;
}

ul, ol {
	margin: 40px 0;
	padding-left: 50px;

	li {
		word-wrap: break-word;
		margin: 15px 0;
	}

	img {
		margin: 40px 0;
		border-radius: 5px;
	}

}

sup {
	vertical-align: top;
	position: relative;
	top: -0.5em;
	margin-left: 1px;
}

code {
	border-radius: 3px;
	background: #eae8f6;
	padding: 2px 6px;
	font-family: 'Fira Mono', monospace;
	font-size: 13px;
}

pre {

	code {
		display: block;
		padding: 15px 20px;
		overflow: auto;
		tab-size: 4;
		line-height: 23px;
	}

}

table {
	width: 100%;
	table-layout: fixed;
	margin: 45px 0;

	thead {
		background: #f2f2f2;
	}

	th {
		text-align: left;
		padding: 8px 10px;
		border-bottom: 15px solid #fff;
	}

	td {
		padding: 4px 0; 
	}

}

iframe {
	width: 100%;
}

@keyframes bounce {

	0% {
		transform: translate3d( 0, -1000px, 0 );
	}

	60% {
		transform: translate3d( 0, 25px, 0 );
	}

	75% {
		transform: translate3d( 0, -10px, 0 );
	}

	90% {
		transform: translate3d( 0, 5px, 0 );
	}

	100% {
		transform: none;
	}

}

@-webkit-keyframes bounce {

	0% {
		-webkit-transform: translate3d( 0, -1000px, 0 );
	}

	60% {
		-webkit-transform: translate3d( 0, 25px, 0 );
	}

	75% {
		-webkit-transform: translate3d( 0, -10px, 0 );
	}

	90% {
		-webkit-transform: translate3d( 0, 5px, 0 );
	}

	100% {
		-webkit-transform: none;
	}

}
