---
layout: replace
---

<!DOCTYPE html>
<html>

	{% include head.liquid %}

	<body id="top">

		{% include header.liquid %}

		<div class="page-content">
			<div class="wrapper">
				{{ content }}
			</div>
		</div>

		{% include footer.liquid %}

		{% if page.path contains '_posts' %}

		<script>
			var disqus_url = '{{ page.url | prepend: site.url }}';
		</script>

		<script type="text/javascript" src="//leo-writes.disqus.com/embed.js" async></script>

			{% if content contains 'See the Pen' %}
			<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
			{% endif %}

		{% endif %}

	</body>

</html>