---
layout: replace
---

<!DOCTYPE html>
<html>

	{% include head.liquid %}

	<body id="top">

		{% include header.liquid %}

		<div class="page-content">
			<div class="wrapper">
				{{ content }}
			</div>
		</div>

		{% include footer.liquid %}

	</body>

</html>