---
layout: replace
---

<!DOCTYPE html>
<html>

	{% include head.liquid %}

	<body id="top">

		{% include header.liquid %}

		<div class="page-content">
			<div class="wrapper">
				{{ content }}
			</div>
		</div>

		{% include footer.liquid %}

		{% if page.path contains '_posts' and content contains 'twitter-tweet' %}
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		{% endif %}

	</body>

</html>