---
layout: compress
---

<!DOCTYPE html>
<html>

	<head>
		{% include head.liquid %}
	</head>

	<body>

		{% include header.liquid %}

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

		{% if page.path contains '_posts' %}

			{% comment %}
			{% if content contains 'footnotes' %}
				<aside class="note"></aside>
				<script async src="/assets/footnotes.js"></script>
			{% endif %}
			{% endcomment %}

			{% if content contains 'twitter-tweet' %}
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			{% endif %}

		{% endif %}

	</body>

</html>